### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/


# Distribution / packaging
.Python
env/
build/
dist/
downloads/



### Django ###
*.log
*.pot
*.pyc
__pycache__/
*/__pycache__
local_settings.py

.env
db.sqlite3