{% extends "./base.html" %} {% block content %} {% if site %}
<h2>{{site.name}}</h2>
<small>{{site.url}}</small>
<table border="1">
  <tr>
    <th>identifiant</th>
    <th>mot de passe</th>
  </tr>

  <tr>
    <td>{{site.identifier}}</td>
    <td>{{site.password}}</td>
  </tr>
</table>

<div class="detailsBtns">
  <button><a href="{% url 'formEdit' site.id %}">Modifier</a></button>

  <button class="leave"><a href="/">retour</a></button>
</div>

{% else %}
<span> aucun site trouvé pour l'identifiant fournis.</span>
{% endif %} {% endblock %}
