{% extends "./base.html" %} {% block content %} {% if sites %}
<ul>
  {% for site in sites %}
  <li class="element">
    <a href="{% url 'details' site.id%}">
      <span>{{site.name}} </span>
      <small>{{site.url}}</small>
    </a>
    <button class="delete-button" onclick="openModal('{{site.id}}')">
      delete
    </button>
  </li>
  {% endfor %}
</ul>
{% else %}
<span>Aucun site enregistré sur votre gestionnaire de mot de passe</span>
{% endif %}

<button>
  <a href="{% url 'formCreate' %}" class="delete-button"
    >Créer un nouveau site</a
  >
</button>

<div class="confirmation-modal">
  <div>
    <h4>Voulez-vous vraiment supprimer ce site ?!</h4>
    <div>
      <button class="confirmation-yes-button" onclick="deleteItem()">
        Oui
      </button>
      <button class="confirmation-no-button secondary" onclick="closeModal()">
        Non
      </button>
    </div>
  </div>
</div>
<script>
  let idToDelete = null;
  function openModal(id) {
    console.log(id);
    idToDelete = id;
    document
      .getElementsByClassName("confirmation-modal")[0]
      .classList.add("isActive");
  }
  function closeModal() {
    idToDelete = null;
    document
      .getElementsByClassName("confirmation-modal")[0]
      .classList.remove("isActive");
  }
  function deleteItem() {
    const a = document.createElement("a");
    a.href = `http://localhost:8000/sites/delete/${idToDelete}`;
    a.click();
    idToDelete = null;
    document
      .getElementsByClassName("confirmation-modal")[0]
      .classList.remove("isActive");
  }
</script>
{% endblock %}
